
<div class="container">
  <div class="row">
    <div class='mx-auto col-12 col-sm-10 col-lg-8 col-xl-6 text-center quit-check'>
      <h3>本当に退会しますか？</h3>
      <p>退会すると会員登録情報や</p>
      <p>これまでの購入履歴が閲覧できなくなります</p>
      <p>退会する場合は退会するをクリックしてください</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to '退会しない',customer_path(@customer), class: "btn btn-info btn-sm w-50 mb-3 mx-auto" %>
        </div>
        <div class="row">
          <%= link_to '退会する',customer_withdraw_path, method: :patch, class: "btn btn-danger btn-sm w-50 mx-auto" %>
        </div>
      </div>
    </div>
  </div>
</div>
