// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*マイページのサイドバー*/
.show-side-bar {
  width: 20%;
  padding-top: 100px;
  height: 100vh;
  position: fixed;//画面の横に固定
  top: 0;
  background: #ebf6f7;
}

/*過去の投稿などの映画のポスターサイズ*/
.show-movie-poster img {
  width: 100%;
}

/*スマホ画面でのタブメニュー、PC画面では非表示に*/
.show-tab-menu-small {
  display: none;
}

/*各メニューの見出しに下線*/
.show-tab-title {
  border-bottom: groove 10px #59b9c6;
}

/*フォロー・フォロワーリストの各アカウントの横幅*/
.relationships-list {
  width: 300px;
  position: relative;
}

/*相互フォローのアカウントに表示するタグ*/
.ff-tag {
  position: absolute;//relationship-listに対して
  top: 0;
  left: 0px;
  color: white;
  background: #59b9c6;
  padding: 5px 10px;
  border-radius: 30px;
}

/*見出し下のタグの説明文*/
.ff-tag-explanation {
  color: white;
  background: #59b9c6;
  padding: 5px 10px;
  border-radius: 30px;
}

/*視聴済み、ウィッシュリスト（以下:リスト）のポスター画像のpositionをrelativeに*/
.list-poster-image {
  position: relative;
}

/*リストのポスター画像のサイズ*/
.list-poster-image img {
  width: 100%;
}

/*また観たい、レビュー済みのタグの配置*/
.list-poster-tag {
  position: absolute;
  top: 0;
  left: 15px;
  display: flex;
}

/*また観たいタグの装飾*/
.list-tag {
  padding: 10px 5px;
  background:  #00a3af;
  color: white;
  border-radius:  4px;
}

/*レビュー済みタグの装飾*/
.post-tag {
  padding: 10px 5px;
  background:  #38b48b;
  color: white;
  border-radius:  4px;
}

/*また観たいタグの説明文*/
.star {
  color: #00a3af;
}

/*レビュー済みタグの説明文*/
.pen {
  color: #38b48b;
}

/*以下サイドバー内のタブメニューの記述*/
#tab-menu {
  margin: 30px 0;
}

#tab-menu li {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0px;
}

#tab-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #ebf6f7;
  border:  solid 1px #84a2d4;
  border-radius: 50px 50px 50px 50px;
}

#tab-menu .active {
  background: #84a2d4;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.quit-check {
  margin-top: 200px;
}

@media screen and (max-width: 991px) {
  /*991px以下に適用されるCSS（タブレット用）サイズはbootstrap4のブレークポイントに準拠*/

  /*タブレットサイズ以下ではサイドバーを非表示化*/
  .show-side-bar {
    display: none;
  }

  /*タブレットサイズ以下の場合のタブメニューの表示*/
  .show-tab-menu-small {
    display: block;
  }

  /*以下タブメニューの装飾*/
  #tab-menu {
    width: 90%;
    margin: 0 auto;
    padding-left: 10%;
  }

  #tab-menu li {
    width: 12%;
    display: inline-block;
    margin: 1%;
  }
  #tab-contents .tab {
    padding: 0px;
  }
}
