// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-side-bar {
  width: 20%;
  padding-top: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #ebf6f7;
}

.show-movie-poster img {
  width: 100%;
}

.show-tab-menu-small {
  display: none;
}

.show-tab-title {
  border-bottom: groove 10px #59b9c6;
}

.relationships-list {
  width: 300px;
  position: relative;
}

.ff-tag {
  position: absolute;
  top: 0;
  left: 0px;
  color: white;
  background: #59b9c6;
  padding: 5px 10px;
  border-radius: 30px;
}

.ff-tag-explanation {
  color: white;
  background: #59b9c6;
  padding: 5px 10px;
  border-radius: 30px;
}

.list-poster-image {
  position: relative;
}

.list-poster-image img {
  width: 100%;
}

.list-poster-tag {
  position: absolute;
  top: 0;
  left: 15px;
  display: flex;
}

.list-tag {
  padding: 10px 5px;
  background:  #00a3af;
  color: white;
  border-radius:  4px;
}

.post-tag {
  padding: 10px 5px;
  background:  #38b48b;
  color: white;
  border-radius:  4px;
}


.star {
  color: #00a3af;
}

.pen {
  color: #38b48b;
}


#tab-menu {
  margin: 30px 0;
}

#tab-menu li {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0px;
}

#tab-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #ebf6f7;
  border:  solid 1px #84a2d4;
  border-radius: 50px 50px 50px 50px;
}

#tab-menu .active {
  background: #84a2d4;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.quit-check {
  margin-top: 200px;
}

@media screen and (max-width: 991px) {
  .show-side-bar {
    display: none;
  }
  .show-tab-menu-small {
    display: block;
  }

  #tab-menu {
    width: 90%;
    margin: 0 auto;
    padding-left: 10%;
  }

  #tab-menu li {
    width: 12%;
    display: inline-block;
    margin: 1%;
  }
  #tab-contents .tab {
    padding: 0px;
  }
}

@media screen and (max-width: 543px) {
}