// Place all the styles related to the public/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-side-bar {
  position: sticky;
  top: 20px;
  bottom: 0px;
}


.index-content-area {
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-content-area img {
  width: 100%;
}

.index-small-genres {
  display: none;
}

.show-poster-img {
  position: fixed;
}

.show-content-tag {
  border-bottom: double #000;
}

.show-review-body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-list-links p {
  font-size:  0.8rem;
}

@media screen and (max-width: 992px) {
  .index-side-bar {
    display: none;
  }

  .index-small-genres {
    display: block;
  }
}

@media screen and (max-width: 480px) {
}