// Place all the styles related to the public/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-side-bar {
  position: sticky;
  top: 20px;
}


.index-content-area {
  height: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-poster-img {
  position: fixed;
}

.show-review-body {
  overflow: hidden;
  text-overflow: ellipsis;
}