// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#textfield {
  border: none;
  outline: none;
}

#textarea {
  min-height: 200px;
  padding: 8px;
  border: none;
  outline: none;
}

.index-title{
  border-bottom: double;
}

@media screen and (max-width: 480px) {

  .index-movie-title h4 {
    font-size: 18px;
  }

  .index-review-title h5 {
    font-size: 15px;
  }

  .index-review-title img {
    height: 50px !important;
    width: 50px !important;
  }

  .index-spoiler-review h5 {
    font-size: 15px;
  }
}
