// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*投稿入力フォームの枠線削除*/
#textfield {
  border: none;
  outline: none;
}

/*投稿入力フォームの高さ可変*/
#textarea {
  min-height: 200px;
  padding: 8px;
  border: none;
  outline: none;
}

/*投稿一覧の見出し下二重線*/
.index-title{
  border-bottom: double;
}

@media screen and (max-width: 544px) {
  /* 544px以下に適用されるCSS（スマホ用）サイズはbootstrap4のブレークポイントに準拠 */

  /*投稿一覧映画タイトルフォントサイズ変更*/
  .index-movie-title h4 {
    font-size: 18px;
  }

  /*レビュータイトルフォントサイズ変更*/
  .index-review-title h5 {
    font-size: 15px;
  }

  /*アカウント画像のサイズ変更*/
  .index-review-title img {
    height: 50px !important;
    width: 50px !important;
  }

  /*ネタバレありのフォントサイズ変更*/
  .index-spoiler-review h5 {
    font-size: 15px;
  }

  /*レビュー詳細の映画タイトルフォントサイズ変更*/
  .show-content h4 {
    font-size: 20px;
  }

  /*レビュー詳細のレビュータイトルフォントサイズ変更*/
  .show-content h5 {
    font-size: 17px;
  }

  /*アカウント画像のサイズ変更*/
  .show-profile img {
    width: 60px;
    height: 60px;
  }
}
