<div class="index-side-bar text-center">
  <h5 class="text-center">主なジャンル<h5>
  <% genres.each do |genre| %>
    <%= form_with model: @genre, url: genre_search_path, method: :get do |f| %>
      <%= f.hidden_field :genre_id, :value => genre.id %>
      <%= f.submit genre.name, class: "btn btn-outline-primary btn-sm mt-1 small", style: "width:150px" %>
    <% end %>
  <% end %>
</div>