<div class="container pb-5">
  <div class="row pt-5">

    <div class="col-md-10 offset-md-1 main-contents">
      <% if @movie_results.blank? %>
        <h2 class="text-center">[<%= @search_term %>]と一致する情報が見つかりませんでした</h2>
      <% else %>
        <h2 class="text-center">[<%= @genre.name %>]の検索結果</h2>
        <%= render 'public/movies/index', movies: @movie_results %>
      <% end %>
    </div>
    <div class="mx-auto mt-3">
      <%= paginate @movie_results %>
    </div>
  </div>
</div>