<div class="container pb-5">
  <div class="row pt-5">

    <div class="col-md-2">
      <%= render 'side_bar', genres: @genres %>
    </div>

    <div class="col-md-10 main-contents pr-5">
      <h2 class="text-center">公開中の映画</h2>
      <%= render 'index', movies: @movies %>
    </div>

  </div>
</div>