<div class="container pb-5">
  <div class="row pt-5">

    <div class="col-md-2">
      <%= render 'side_bar', genres: @genres %>
    </div>

    <div class="col-md-10 main-contents">
      <h2 class="text-center">[<%= @search_term %>]の検索結果</h2>
      <%= render 'index', movies: @movie_results %>
    </div>
    <div class="mx-auto mt-3">
      <%= paginate @movie_results %>
    </div>
  </div>
</div>