<div class="row">
  <% if customer.exists? %>
    <% customer.each do |customer| %>
    <div class="col-md-3">
     <%= link_to customer_path(customer.id), class: "text-decoration-none" do %>
        <%= image_tag customer.get_profile_image, class: "rounded-circle",size: '100x100' %>
        <%= customer.name %>
      <% end %>
    </div>
    <% end %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>