<div class="about-bg">
  <div class="about-contents text-center">
    <%= image_tag 'logo.png' %>
    <h2 class="mt-5">FILMOREへようこそ<br/>当サイトでは以下のことができます</h2>
    <div class="about-text mt-5">
      <div class="text">
        <i class="fas fa-pen-fancy fa-3x"></i>
        <h3>映画の感想を<br>書いて投稿</h3>
      </div>
      <div class="text">
        <i class="fas fa-heart fa-3x"></i>
        <h3>お気に入りの映画<br>をリスト化</h3>
      </div>
      <div class="text">
        <i class="fas fa-film fa-3x"></i>
        <h3>鑑賞済みや観たい<br>映画の情報を管理</h3>
      </div>
    </div>
  </div>
</div>
<div class="about-small-contents text-center">
  <h5 class="mt-3">FILMOREへようこそ<br/>当サイトでは以下のことができます</h5>
  <div class="">
    <div class="mt-5">
      <i class="fas fa-pen-fancy fa-2x"></i>
      <h5>映画の感想を<br>書いて投稿</h5>
    </div>
    <div class="mt-5">
    <i class="fas fa-heart fa-2x"></i>
    <h5>お気に入りの映画<br>をリスト化</h5>
    </div>
    <div class="mt-5 mb-5">
      <i class="fas fa-film fa-2x"></i>
      <h5>鑑賞済みや観たい<br>映画の情報を管理</h5>
    </div>
  </div>
</div>