<div class="container">

  <div class="row">
    <div class="col-md-8 mx-auto pt-5">
      <h1 class="text-center">ようこそFIMOREへ!!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto pt-5">
      <h4 class="text-center">今話題の映画</h4>
    </div>
  </div>

  <div class="row">
    <% @movies.each do |movie| %>
    <div class="col-md-3 mt-3">
      <%= link_to movie_path(movie['id']) do %>
        <%= image_tag "https://image.tmdb.org/t/p/w1280#{movie["poster_path"]}",class: "rounded", size: '260x390'%>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto pt-5 pb-5">
      <%= link_to "→映画一覧を見る", movies_path, class: "btn btn-outline-primary w-100 text-center" %>
    </div>
  </div>
</div>

