<div class="container">
  <div class="row pb-5">
    <div class="col-md-8 offset-md-2 pt-4 pb-2">
      <% if @word != nil %>
        <h3 class="text-center">"<%= @word %>"に関する会員一覧</h3>
      <% else %>
        <h3 class="text-center">会員一覧</h3>
      <% end %>
    </div>
    <div class="col-lg-4 offset-lg-2 col-sm-6 mb-2">
      <%= render 'admin/shared/search', link: admin_customer_search_path %><%#投稿検索%>
    </div>
    <div class="col-lg-4 col-sm-6 mb-2">
      <%= render 'admin/shared/sort', link: admin_customer_sort_path %><%#並び替え%>
    </div>
    <div class="col-md-10 offset-md-1 mt-2">
      <%= render 'index', customers: @customers %><%#投稿一覧%>
    </div>
  </div>
</div>