<% lists.each do |list| %>
<div class="row d-inline-flex">
  <div class="m-4">
    <%= link_to movie_path(list.movie_id) do %>
      <%= image_tag 'https://image.tmdb.org/t/p/w1280' + list.poster_path, class: "rounded mb-3", size: '200x300'%>
    <% end %>
  </div>
</div>
<% end %>