<div class="container">
  <div class="row mt-3 mb-3 border-bottom">
    <div class="col-md-12 ">
      <h4>視聴済みリスト</h4>
    </div>
  </div>
  <% @watched_lists.each do |watched_list| %>
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= image_tag 'https://image.tmdb.org/t/p/w1280' + watched_list.poster_path, class: "rounded mb-3", size: '200x300'%>
      </div>
      <h5><%= watched_list.title %></h5>
    </div>
  </div> 
  <% end %>

</div>