/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import '@fortawesome/fontawesome-free/scss/fontawesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*全ての画面の高さの最低値を100vhに指定*/
main {
  min-height: 100vh;
}

/*新規登録時などのエラーメッセージ文*/
#error_explanation {
  width: 100%;
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}

/*ヘッダーの装飾*/
header {
  background: #ebf6f7;
  position: relative;
  z-index: 10;//マイページのサイドバーより前に表示するための記述
}

/*ヘッダーの装飾*/
.header-search-form {
  width: 90%;
}

/*ヘッダー内のロゴ*/
.logo img {
  width: 220px;
}

/*エラーメッセージ表示時のフォームの崩れを防ぐための記述*/
.field_with_errors {
  display: contents;
}

/*各ページの遷移用のアイコンのポジションを指定*/
.header-icons {
  position: relative;
}

/*遷移用アイコンの色*/
.icon {
  color: rgb(75, 75, 75);
}

/*マウスホバー時のアイコン下のテキスト*/
.header-text {
  display: none;
  width: 150px;
  position: absolute;
  top: 80px;
  left: 60%;
  padding: 16px;
  border-radius: 5px;
  background: rgba(136, 136, 136, 0.75);
  font-weight: bold;
  color: white;
  z-index: 10;
}

/*マウスホバー時のアイコン下のテキスト装飾*/
.header-text:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: -10px;
  margin-left: 10px;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.header-icons:hover + .header-text {
  display: block;
}

/*フラッシュメッセージ*/
#notice{
  color: green;
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 1;
}

/*エラーメッセージ*/
#alert {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 1;
}

/*ログイン画面の背景*/
.sign-in-bg {
  height: 100vh;
  width: 100%;
  background-image: image-url('clapperboard.jpeg');
  background-size: cover;
  background-position: left;
  position: relative;
}

/*ログイン画面の文章*/
.sign-in-text {
  font-family: Chalkduster;
  color: white;
  width: 550px;
  position: absolute;
  top: 100px;
  left: 5%;
}

/*ログイン画面の文章の行間を調整*/
.sign-in-text h3 {
  line-height: 2em;
}

/*ログイン画面の入力フォーム*/
.sign-in-form {
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 200px;
  right: 15%;
  bottom: 0;
  height: 380px;
  width: 570px;
  padding: 20px;
  border-radius: 10px;
}

/*新規登録画面の背景*/
.sign-up-bg {
  background-image: image-url('films.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*新規登録画面の入力フォーム*/
.sign-up-form {
  background: rgba(255,255,255,0.8);
  padding-top: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  /*991px以下に適用されるCSS（タブレット用）サイズはbootstrap4のブレークポイントに準拠*/

  /*タブレット画面でのログイン画面入力フォーム*/
  .sign-in-form {
    position: relative;
    height: 380px;
    width: 80%;
    margin: 0 auto;
    right: 0;
  }
  /*タブレットサイズ以下ではログイン画面の文字を非表示*/
  .sign-in-text {
    display: none;
  }
}

@media screen and (max-width: 544px) {
  /* 544px以下に適用されるCSS（スマホ用）サイズはbootstrap4のブレークポイントに準拠 */

  /*携帯端末でのログイン入力フォーム*/
  .sign-in-form {
    top: 10%;
    width: 90%;
  }
  /*入力フォームの見出しのフォントを縮小*/
  .sign-in-form h2 {
    font-size: 20px;
  }
}
