/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import '@fortawesome/fontawesome-free/scss/fontawesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

#error_explanation {
  background-color: rgba(128,128,128,0.8);
  width: 500px;
  padding: 10px;
  color: white;
  border: solid 2px red;
  margin-bottom: 5px;
  font-weight: bold;
}

header {
  background: #ebf6f7;
  position: relative;
  z-index: 10;
}

.header-search-form {
  width: 90%;
}

.logo img {
  width: 220px;
}

.field_with_errors {
  display: contents;
}

.header-icons {
  position: relative;
}

.icon {
  color: rgb(75, 75, 75);
}

.header-text {
  display: none;
  width: 150px;
  position: absolute;
  top: 80px;
  left: 60%;
  padding: 16px;
  border-radius: 5px;
  background: rgba(136, 136, 136, 0.75);
  font-weight: bold;
  color: white;
  z-index: 10;
}
.header-text:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: -10px;
  margin-left: 10px;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.header-icons:hover + .header-text {
  display: block;
}

/*エラーメッセージ*/
#notice{
  color: green;
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 1;
}

#alert {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 2%;
  z-index: 1;
}

@media screen and (max-width: 959px) {
  main {
    min-height: 0;
  }
}

@media screen and (max-width: 480px) {
  min-height: 0;
}