<footer class="py-4" style='background-color: #ebf6f7;'>
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<span>CopyRight FILMORE</span>
    	</div>
    </div>
  </div>
</footer>